body{
    background: rgb(64, 144, 235);
    font: normal 15pt;
    font-family: "Poppins", sans-serif;
}

header h1{
    text-align: center;

}

#logo{
    color: #fafafa;
    font: large, bold;
    font-weight: normal;
    
}

section{
    background: #fafafa;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.37);

}

footer{
    color: #fafafa;
    text-align: center;

}


p{
    margin: 15px;
}
